body {
    text-align: center; 
    border:1px solid;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
}

fieldset {
    border: 0;
}

label {
    display: block;
    margin: 30px 0 0 0;
}